cancelacion.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.sifei.cancelacion/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.sifei.cancelacion/" name="Cancelacion">
<types>
<xsd:schema>
<xsd:import namespace="http://service.sifei.cancelacion/" schemaLocation="http://devcfdi.sifei.com.mx:8888/CancelacionSIFEI/Cancelacion?xsd=1" />
</xsd:schema>
</types>
<message name="cancelaCFDI">
<part name="parameters" element="tns:cancelaCFDI" />
</message>
<message name="cancelaCFDIResponse">
<part name="parameters" element="tns:cancelaCFDIResponse" />
</message>
<message name="SifeiException">
<part name="fault" element="tns:SifeiException" />
</message>
<message name="procesarRespuesta">
<part name="parameters" element="tns:procesarRespuesta" />
</message>
<message name="procesarRespuestaResponse">
<part name="parameters" element="tns:procesarRespuestaResponse" />
</message>
<message name="cfdiRelacionado">
<part name="parameters" element="tns:cfdiRelacionado" />
</message>
<message name="cfdiRelacionadoResponse">
<part name="parameters" element="tns:cfdiRelacionadoResponse" />
</message>
<message name="peticionesPendientes">
<part name="parameters" element="tns:peticionesPendientes" />
</message>
<message name="peticionesPendientesResponse">
<part name="parameters" element="tns:peticionesPendientesResponse" />
</message>
<message name="consultaSATCFDI">
<part name="parameters" element="tns:consultaSATCFDI" />
</message>
<message name="consultaSATCFDIResponse">
<part name="parameters" element="tns:consultaSATCFDIResponse" />
</message>
<portType name="Cancelacion">
<operation name="cancelaCFDI">
<input wsam:Action="http://service.sifei.cancelacion/Cancelacion/cancelaCFDIRequest" message="tns:cancelaCFDI" />
<output wsam:Action="http://service.sifei.cancelacion/Cancelacion/cancelaCFDIResponse" message="tns:cancelaCFDIResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://service.sifei.cancelacion/Cancelacion/cancelaCFDI/Fault/SifeiException" />
</operation>
<operation name="procesarRespuesta">
<input wsam:Action="http://service.sifei.cancelacion/Cancelacion/procesarRespuestaRequest" message="tns:procesarRespuesta" />
<output wsam:Action="http://service.sifei.cancelacion/Cancelacion/procesarRespuestaResponse" message="tns:procesarRespuestaResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://service.sifei.cancelacion/Cancelacion/procesarRespuesta/Fault/SifeiException" />
</operation>
<operation name="cfdiRelacionado">
<input wsam:Action="http://service.sifei.cancelacion/Cancelacion/cfdiRelacionadoRequest" message="tns:cfdiRelacionado" />
<output wsam:Action="http://service.sifei.cancelacion/Cancelacion/cfdiRelacionadoResponse" message="tns:cfdiRelacionadoResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://service.sifei.cancelacion/Cancelacion/cfdiRelacionado/Fault/SifeiException" />
</operation>
<operation name="peticionesPendientes">
<input wsam:Action="http://service.sifei.cancelacion/Cancelacion/peticionesPendientesRequest" message="tns:peticionesPendientes" />
<output wsam:Action="http://service.sifei.cancelacion/Cancelacion/peticionesPendientesResponse" message="tns:peticionesPendientesResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://service.sifei.cancelacion/Cancelacion/peticionesPendientes/Fault/SifeiException" />
</operation>
<operation name="consultaSATCFDI">
<input wsam:Action="http://service.sifei.cancelacion/Cancelacion/consultaSATCFDIRequest" message="tns:consultaSATCFDI" />
<output wsam:Action="http://service.sifei.cancelacion/Cancelacion/consultaSATCFDIResponse" message="tns:consultaSATCFDIResponse" />
<fault message="tns:SifeiException" name="SifeiException" wsam:Action="http://service.sifei.cancelacion/Cancelacion/consultaSATCFDI/Fault/SifeiException" />
</operation>
</portType>
<binding name="CancelacionPortBinding" type="tns:Cancelacion">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="cancelaCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="procesarRespuesta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="cfdiRelacionado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="peticionesPendientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
<operation name="consultaSATCFDI">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="SifeiException">
<soap:fault name="SifeiException" use="literal" />
</fault>
</operation>
</binding>
<service name="Cancelacion">
<port name="CancelacionPort" binding="tns:CancelacionPortBinding">
<soap:address location="http://devcfdi.sifei.com.mx:8888/CancelacionSIFEI/Cancelacion" />
</port>
</service>
</definitions>